<div
  class="container-fluid w-100 fs-1 p-3 px-5 text-white bg-primary border border-2 border-secondary shadowBox"
  style="font-family: 'Anton', sans-serif"
>
  Contacts List
</div>
<hr />

<div class="container-fluid my-3">
  <div class="form-group d-flex flex-row">
    <div class="input-group shadowBox">
      <span class="input-group-text border border-secondary"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>
      <input
        type="search"
        class="form-control border border-secondary"
        placeholder="Name..."
        [(ngModel)]="name"
      />
    </div>
    <button
      class="btn btn-primary ms-auto mx-3 fs-5 shadowBox border border-secondary"
      routerLink="/dashboard/contacts/new-contact"
    >
      Add new contact
    </button>
  </div>
</div>
<hr />

<div class="container-fluid d-flex flex-wrap justify-content-center">
  <ng-container *ngIf="contacts | contactsFilter : 'name' : name as contacts">
    <ng-container *ngFor="let contact of contacts; index as i">
      <div
        class="card text-center m-4 shadowBox rounded border border-secondary"
        style="
          max-width: 20rem;
          min-width: 20rem;
          max-height: 22rem;
          min-height: 22rem;
        "
      >
        <div class="mt-3">
          <img
            [src]="contact.imgUrl"
            alt="Contact image"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h3 class="mb-3">{{ contact.name }}</h3>
          <h5><i class="fa-solid fa-envelope mx-2"></i> {{ contact.email }}</h5>
          <h5>
            <i class="fa-solid fa-cake-candles mx-2"></i> {{ contact.birthday }}
          </h5>
          <h5 class="mb-3">
            <i class="fa-solid fa-phone mx-2"></i> {{ contact.phone }}
          </h5>
          <hr />
          <a (click)="updateContact(contact)"
            ><i class="fa-solid fa-pen text-success mx-3"></i
          ></a>
          <a (click)="deleteContact(contact)"
            ><i class="fa-solid fa-trash text-danger mx-3"></i
          ></a>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
